.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* card */

.card {
  margin: 10px;
  height: 200px;
  width: 50px;
}

/* hover  */

.card:hover {
  color: #4370ff;
  background-color: #4370ff;
}

.button:hover {
  border-color: #4370ff;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}

.button:hover {
  background-color: #fff;
  color: #4370ff;
  border: 3px solid #4370ff;
  border-color: #4370ff;

}
.button {
  background-color:#4370ff;
  border: 3px solid #fff;
  border-color: #4370ff;
  color: #fff;
}
.content-heading {
  font-size: 1.6em;
    height: 100px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: none;
    margin-left: 10px;
  margin-right: 10px;
  width: auto;
}
.content {
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}